---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatLongDate } from "../../lib/date";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({ params: { slug: post.id }, props: { post } }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseLayout title={post.data.title} description={post.data.description} type="article">
  <article class="prose rendered-content">
    <a class="back-link" href="/posts">Back to posts</a>
    <header>
      <p class="eyebrow">
        {formatLongDate(post.data.date)}
      </p>
      <h1>{post.data.title}</h1>
      <p>{post.data.description}</p>
      <ul class="tag-list">
        {post.data.tags.map((tag) => <li>{tag}</li>)}
      </ul>
    </header>
    <Content />
  </article>
</BaseLayout>
